<footer class="footer bg-secondary mt-auto py-3">
    <div class="container">
        <span class="text-white">&copy; VERSION:1.0.0_BETA_ <strong>AdsMania</strong> by @noodlescripter</span>
    </div>
</footer>